/* DEVELOPER: Christian Le, IS117-005, Fall 2019 */

html{
    background-color: black;
}

/* the styles for the body */
body{
    background-color: #3a1313;
    border: 3px #1a0d00 solid;
    height: 1100px;
    width: 1300px;
    margin: auto;
}

header h1{
    margin: 0;
    color: #997a77;
    text-align: center;
    background-color: #270c0c;
    padding: 50px 0;
    font-family: 'Satisfy', cursive;
    font-size: 50px;
}

/* the styles for the images */
.image1{
    float: left;
    position: absolute;
    top: 220px;
    left: 250px;
    height: 900px;
}

.image2{
    float: right;
    position: absolute;
    top: 220px;
    right: 250px;
    height: 900px;
}

.logo{
    height: 250px;
    width: 250px;
    position: relative;
    top: 0;
    left: 120px;
}

.leftwing{
    height: 200px;
    width: 400px;
    position: relative;
    top: -35px;
    left: 15px;
}

.rightwing{
    height: 200px;
    width: 400px;
    position: relative;
    top: -35px;
    right: -220px;
}

/* the styles for the main navigation bar*/
#nav_menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#nav_menu ul li{
    float: left;
}

#nav_menu ul li a{
    display: block;
    width: 210px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    background-color: #601f1f;
    color: #1a0d00;
    border: 3px #4e1818 solid;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Ibarra Real Nova', serif;
    border-radius: 10px;
    position: relative;
    top: -30px;
}

/* the styles for the submenu */
#nav_menu ul ul{
    display: none;
    position: absolute;
}

#nav_menu ul ul li{
    float: none;
}

#nav_menu ul li:hover ul{
    display: block;
    position: absolute;
    overflow: visible;
    z-length: 1000;
}

#nav_menu ul::after{
    clear: both;
    display: block;
}

/* the styles for the icons */
.topic{
    background-color: #601f1f;
    color: #1a0d00;
    height: 30px;
    width: 125px;
    float: left;
    position: relative;
    top: 70px;
    left: 575px;
    border: 3px #4e1818 solid;
    border-radius: 10px;
}

.topic p{
    position: relative;
    top: -20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#main{
    width: 50px;
    display: flex;
}

#main h2{
    color: #1a0d00;
    background-color: #601f1f;
    border: 3px #4e1818 solid;
    border-radius: 10px;
    position: relative;
    top: 125px;
    left: 160px;
    width: 100px;
    text-align: center;
}

#main a{
    text-decoration: none;
}

.char{
    position: relative;
    top: 125px;
    left: 115px;
    height: 200px;
    width: 200px;
}

#second{
    width: 50px;
    display: flex;
}

#second a{
    text-decoration: none;
}

#second h2{
    color: #1a0d00;
    background-color: #601f1f;
    border: 3px #4e1818 solid;
    border-radius: 10px;
    position: relative;
    top: 125px;
    left: 485px;
    width: 100px;
    text-align: center;
}

.char2{
    position: relative;
    top: 125px;
    left: 450px;
    height: 200px;
    width: 200px;
}

/* the styles for the footer */
footer{
    position: fixed;
    bottom: 0;
    width: 1280px;
    display: block;
    background-color: #601f1f;
    color: #1a0d00;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: bold;
}